        /* Basic reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
				
				h1 {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
			word-spacing: 1px;
			letter-spacing: 0.5px;
			text-rendering: optimizeLegibility;	
        } 

        /* Full height container */
        html, body {
            height: 100%;
            font-family: Arial, sans-serif;
        }
		
		body 
		@font-face {
    		font-family: 'jschanok';
    		src: url('assets/fonts/jschanok.ttf') format('truetype');
		     url('assets/fonts/jschanok.woff') format('woff');
	 	     url('assets/fonts/jschanok.woff2') format('woff2');
    		font-weight: normal;
    		font-style: normal;
		}
		@font-face { 
		font-family: 'jongjaroen';
    		src: url('assets/fonts/jongjaroen.woff') format('woff');
    		font-weight: normal;
    		font-style: normal;
		}
		@font-face { 
		font-family: 'tankk';
    		src: url('assets/fonts/tankk.ttf') format('truetype');
    		font-weight: normal;
    		font-style: normal;
		}
		@font-face { 
		font-family: 'soum';
    		src: url('assets/fonts/soum.ttf') format('truetype');
    		font-weight: normal;
    		font-style: normal;
		}
		@font-face { 
		font-family: 'kalong_n';
    		src: url('assets/fonts/jongjaroen.ttf') format('truetype');
    		font-weight: normal;
    		font-style: normal;
		}
		
        /* Container for each page */
        .container {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
	    text-align: center;
            min-height: 100vh;
            opacity: 0;
		z-index: 0;
            transition: opacity 1.5s ease;  /* 1 seconds fade-in and fade-out */
        }

        /* Show container */
        .show {
            display: flex;  /* Makes the container visible */
        }

        /* Fade-in effect */
        .fade-in {
            opacity: 1;
        }

        /* Input and button styling */
        input, button {
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
		font-weight: bold
        }

        input {
            width: 250px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: black;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: opacity 0.5s ease;
        }

        button:active {
            opacity: 0;  /* Button fades to transparent when clicked */
        }

        /* Error and confirmation messages */
        .error {
            color: red;
            font-size: 14px;
            display: none;
        }
		
	.transparent-container {
   		background-color: rgba(255, 255, 255, 0.8); /* White background with 50% opacity */
    		padding: 20px; /* Add some padding for spacing */
    		max-width: 90%; /* Set a max width so it doesn't span the entire screen */
    		margin: 20px auto; /* Center the container horizontally with margin */
    		border-radius: 10px; /* Optional: add rounded corners */
    		text-align: left; /* Left-align the text */
    		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for depth */
	}
			
		#c_1 {
			font-size: 20vw;
			color: #000000;
			font-family: 'jschanok';
			max-width: 100%;
			max-height: 10%
		}
		#c_2 {
			font-size: 15vw;
			color: #000000;
			font-family: 'jschanok';
			max-width: 100%;
			max-height: 7.5%
		}
		#c_3 {
			font-size: 20vw;
			color: #FFFFFF;
			font-family: 'jongjaroen';
			max-width: 100%
		}
		#c_4 {
			font-size: 15vw;
			color: #FFFFFF;
			font-family: 'jongjaroen';
			max-width: 100%
		}
		#c_5 {
			font-size: 15vw;
			color: #0f3b04;
			font-family: 'tankk';
			max-width: 75%
		}
	    #c_6 {
			font-size: 20vw;
			color: #000000;
			font-family: 'soum';
			max-width: 75%
		}
		#c_7 {
			font-size: 15vw;
			color: #000000;
			font-family: 'soum';
			max-width: 100%
		}
   #backgroundVideo {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
	   object-fit:cover /* Push video behind other content */
    }

    .content {
        position: relative;
        z-index: 1;  /* Ensure the content is displayed above the video */
        color: black;  /* Adjust text color to stand out against the video */
        text-align: center;
        padding: 20px;
    }
