        /* Basic reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Full height container */
        html, body {
            height: 100%;
            font-family: Arial, sans-serif;
	    -webkit-font-smoothing: antialiased
        }
		
		body {
  		background-image: url('assets/images/A11C2A81-F008-40CD-A199-B2949D805F0C.jpeg');  /* Path to background.jpg in the assets folder */
   		background-size: cover;        /* Cover ensures the image covers the entire background */
    		background-position: center;   /* Center the background image */
    		background-attachment: fixed;  /* Keeps the background in place even while scrolling */
    		background-repeat: no-repeat;  /* Prevents the image from repeating */
		}
		@font-face {
    		font-family: 'jschanok';
    		src: url('assets/fonts/jschanok.ttf') format('truetype');
		     url('assets/fonts/jschanok.woff') format('woff');
	 	     url('assets/fonts/jschanok.woff2') format('woff2');
    		font-weight: normal;
    		font-style: normal;

		font-family: 'jongjaroen';
    		src: url('assets/fonts/jongjaroen.woff') format('woff');
    		font-weight: normal;
    		font-style: normal;
		}
		
        /* Container for each page */
        .container {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
	    text-align: center;
            min-height: 100vh;
            opacity: 0;
            transition: opacity 1.5s ease;  /* 1 seconds fade-in and fade-out */
        }

        /* Show container */
        .show {
            display: flex;  /* Makes the container visible */
        }

        /* Fade-in effect */
        .fade-in {
            opacity: 1;
        }

        /* Input and button styling */
        input, button {
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
        }

        input {
            width: 250px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: black;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: opacity 0.5s ease;
        }

        button:active {
            opacity: 0;  /* Button fades to transparent when clicked */
        }

        /* Error and confirmation messages */
        .error {
            color: red;
            font-size: 14px;
            display: none;
        }
		
		#jschanok_h1 {
			font-size: 20vw;
			color: #FFFFFF;
			font-family: 'jschanok';
			max-width: 100%
		}
		#jschanok_h2 {
			font-size: 15vw;
			color: #FFFFFF;
			font-family: 'jschanok';
			max-width: 100%
		}
		#jongjaroen_h1 {
			font-size: 20vw;
			color: #FFFFFF;
			font-family: 'jongjaroen';
			max-width: 100%
		}
		#jongjaroen_h2 {
			font-size: 15vw;
			color: #FFFFFF;
			font-family: 'jongjaroen';
			max-width: 100%
		}
