/* Basic reset */
* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-rendering: optimizeLegibility
        }
	
#backgroundVideo {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -3;
	object-fit: cover;
	filter: blur(6px);
    }

#backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/images/background.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0;  /* Start fully transparent */
    z-index: -1; /* In front of video, behind content */
    transition: opacity 1s ease-in-out;  /* Smooth fade-in */
}

/*font faces*/
		@font-face {
    		font-family: 'jschanok';
    		src: url('../fonts/jschanok.ttf') format('truetype');
    		font-weight: normal;
    		font-style: normal;
		}
		@font-face { 
		font-family: 'fcv';
    		src: url('../fonts/fcv_n.ttf') format('truetype');
    		font-weight: normal;
    		font-style: normal;
		}
		@font-face { 
		font-family: 'fcv';
    		src: url('../fonts/fcv_b.ttf') format('truetype');
    		font-weight: bold;
    		font-style: bold;
		}
		@font-face { 
		font-family: 'soum';
    		src: url('assets/fonts/soum.ttf') format('truetype');
    		font-weight: normal;
    		font-style: normal;
		}
		@font-face { 
		font-family: 'kalong_n';
    		src: url('assets/fonts/jongjaroen.ttf') format('truetype');
    		font-weight: normal;
    		font-style: normal;
		}
.content {
        position: relative;
        z-index: 1;  /* Ensure the content is displayed above the video */ /* Adjust text color to stand out against the video */
        text-align: center;
        padding: 20px;
    }
		
h1 {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
			word-spacing: 1px;
			letter-spacing: 0.5px;
        } 
/* Full height container */
html, body {
            height: 100%;
            font-family: 'fcv', Arial, sans-serif, 'jschanok'
	} 
	
		
/* Container for each page */
.container {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
	    text-align: center;
        color: white;
            min-height: 100vh;
            opacity: 0;
		z-index: 1;
            transition: opacity 0.5s ease;  /* 1 seconds fade-in and fade-out */
        }

	/* Show container */
.show {
            display: flex;  /* Makes the container visible */
        }
.hidden {
	display: none;
}

	/* Fade-in effect */
.fade-in {
            opacity: 1;
        }
//add-on
.page {
	    position: relative;
    z-index: 1;  /* In front of video and image */
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.page.active {
    display: block;
    opacity: 1;
}
        /* Input and button styling */
input  {
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
	    font-weight: bold;
            width: 250px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

button {
            background-color: black;
	    display: inline-block;
	    padding : 10px 20px;
	    font-family: 'fcv';
	    font-weight: bold;
            color: white;
	    text-align: center;
	    white-space: nowrap;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: opacity 0.5s ease;
        }

button:active {
            opacity: 0;  /* Button fades to transparent when clicked */
        }

        /* Error and confirmation messages */
.error {
            color: red;
            font-size: 14px;
            display: none;
        }
		
.transparent-container {
   		background-color: rgba(255, 255, 255, 0.8); /* White background with 50% opacity */
    		padding: 20px; /* Add some padding for spacing */
    		max-width: 90%; /* Set a max width so it doesn't span the entire screen */
    		margin: 20px auto; /* Center the container horizontally with margin */
    		border-radius: 10px; /* Optional: add rounded corners */
    		text-align: left; /* Left-align the text */;
		font-family: Arial;
    		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for depth */
	}
		#textContainer {
			margin: 20px;
			padding: 10px;
			text-align: center;
			font-size: 24px;
			color: white;
		}
		#nextPageButton {
			background-color: black;
	    font-family: 'fcv';
	    font-weight: bold;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: opacity 0.5s ease;
		}
		#nextPageButton.hidden {
			display: none;
		}
		#c_1 {
			font-size: 20vw;
			color: #ffffff;
			font-family: 'jschanok';
			max-width: 100%;
			max-height: 10%;
            text-shadow: 3px 3px 0px black
		}
		#c_2 {
			font-size: 15vw;
			font-family: 'jschanok';
			max-width: 100%;
			max-height: 7.5%
		}
		#c_3 {
			font-size: 20vw;
			color: #FFFFFF;
			font-family: 'jongjaroen';
			max-width: 100%
		}
		#c_4 {
			font-size: 15vw;
			color: #FFFFFF;
			font-family: 'jongjaroen';
			max-width: 100%
		}
		#c_5 {
			font-size: 15vw;
			color: #0f3b04;
			font-family: 'tankk';
			max-width: 75%
		}
	    	#c_6 {
			font-size: 20vw;
			color: #000000;
			font-family: 'soum';
			max-width: 75%
		}
		#c_7 {
			font-size: 12.5vw;
			color: #ffffff;
			font-family: 'fcv';
			font-weight: normal;
			max-width: 100%;
			max-height: 5%  
		}
		#c_8 {
			color: #ffffff;
			font-family: Arial;
			max-width: 100%
		}
